/***************
-----HEADER-----
****************/
@import "variables";

header{
    padding: 1rem;
    border-bottom: 1px solid #848F9A;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    .header-title{
        text-align: start;
        width: 70%;
        color: black;
        h1{
            font-size: 1.4rem;
        }
    }
    .coderwallet {
        width: 30%;
        text-align: center;
        h1{
        font-size: 2rem;
        font-weight: 100;
        font-family: 'Anton', sans-serif;
        font-style: italic;
        text-shadow: 0px 0px 2px black;
            span{
                color: $yellow;
                
            }
        }
    }
}