/***************
-----CUERPO-----
****************/
@import "variables";

main{
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .card-container{
        background-color: $blanco2;
        border-radius: 10px;
        padding: 1.5rem;
        box-shadow: 0px 0px 8px $shadow;
        margin: 1rem;
        text-align: center;
        width: 100%;
    }
    .btn-style{
        font-size: 0.9rem;
        font-weight: bold;
        padding: 0.5rem 1rem;
        width: auto;
        margin-top: 0.5rem;
        border-radius: 20px;
        background-color: black;
        color: $blanco1;
        transition: 0.3s all ease-in-out;
        border-color: black;
        border-width: 1px;
        &:hover{
            cursor: pointer;
            background-color: $yellow;
            color: black;
        }
    }
    input{
        width: 80%;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        border-width: 0.5px;
        border-color: $background-main;
        margin: 1px auto;
        font-family: 'DM Sans', sans-serif;
    }
}
        
#cuerpo-inicio{
    display: flex;
    flex-direction: column;
    
    section{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        p{
            font-size: 0.8rem;
            font-weight: 200;
            margin: 0.3rem auto;
        }
        #card-saldo-pesos , #card-saldo-dolares{
            width: 50%;
            height: auto; 
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            #container-saldo{
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
                padding: 1rem;
                background-color: $background-main;
                width: 60%;
                height: 65px;
                box-shadow: 0px 0px 5px $shadow;
                margin-bottom: 0.5rem;
                p{
                    font-size: 1rem;
                font-weight: 700;
                }
            }  
        }
        #card-ingresar-dinero , #card-transferir-dinero{
            width: 50%;
        }
        .transaccion{
            display: flex;
            flex-direction: row;
            align-items: center;
            border-radius: 10px;
            border: 0.8px solid $shadow;
            box-shadow: 0px 0px 5px $shadow;
            padding: 0.8rem;
        }
        #saldo-pesos , #saldo-dolares{
            font-size: 2.3rem;
            font-weight: 700;
            color: $saldo;
            padding-bottom: 3rem;
        }
        #tasa-compra-usd , #tasa-venta-usd{
            font-weight: bold;
        }
    }

    .cripto-list{
        margin: 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        .card-cripto-list{
            width: 100%;
            height: 50px;
            margin-top: 0.8rem;
            padding: 0.5rem 2rem 0.5rem 2.5rem;
            border-radius: 10px;
            border: 0.5px solid $shadow;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            background-color: $background-main;
            .cripto-img{
                height: 100%;
                img{
                    height: 100%;
                    vertical-align: middle;
                }
            }
            .cripto-name{
                width: 40%;
                text-align: left;
            }
            .cripto-ticker{
                width: 20%;
            }
            .cripto-{
                width: 30%;
            }
        }
    }
}